._.DS_Store
._.gitignore
dump
results_abstract_relevant.csv
results_fulltext_relevant.csv
results_abstract_relevant_test.csv
results_fulltext_relevant_test.csv
review_to_title.csv
results.pkl
weights.hdf5
dta_data.csv
dta_data_test.csv
*.pyc
*.pkl
